.starwars-list {
    margin-top: 50px;
}

.starwars-list .chars {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.starwars-list .chars .infoCards {
    min-width: 200px;
    min-height: 300px;
    background: linear-gradient(#333333, #6b6b6b);
    color: white;
    padding: 10px 20px;
    border: 2px solid rgb(252, 197, 96);
    transition: transform .1;
    transition: all .5s;
}

.nameInfo {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(252, 197, 96);
    transition: transform .1;
    transition: all .5s;
  }

.starwars-list .chars .infoCards p {
    display: flex;
}
.starwars-list .chars .infoCards span {
    font-size: .75rem;
    opacity: .3;
}

.starwars-list .chars .infoCards h5 {
    margin-top: 0;
    border-bottom: 1px solid gray;

}

.starwars-list .chars .infoCards:hover {
    transform: scale(1.1);
    outline: none;
    border-color: #b9b9b9;
    box-shadow: 0 0 10px #bdbdbd;
}

.starwars-list .chars .infoCards:hover .nameInfo {
    transform: scale(1.1);
    color: rgb(201, 201, 201);
}